<% provide(:title , 'About Us') %>
<h1>About Us</h1>
<h4>Property Management</h4>
			<p> You looking to let your property to someone trustworthy and with the minimum fuss and the maximum peace of mind, don’t look any further!
			Dream Home has the perfect solution for you!</p>
			<h5>Why Dream Home?</h5>
			<p>Here at Dream Home we are working very closely with relocations agents, major blue chip companies and corporate agents.
				We have major experiences in sales, marketing, and of course property management. 
				We have a full team ready to help and to make our relationship successful!</p>
			<h5>What can we offer you?</h5>
			<p>At Dream Home we pride ourselves on providing excellent customer service. 
				We can offer useful advice on how to furnish your property to achieve the maximum rent, 
				our expertise in the property and rental market, 24 hour emergency helpline for clients, 
				a fully qualified maintenance team, great local knowledge and most importantly value for money!
				We have a dedicated housekeeping team who will service your property on a daily basis and we will look after your property 
				as if it were our own.</p>