<% provide(:title , 'Home') %>

		<div class="left">	
		<h4>Dreams last for as long as you stay at Dream Home</h4>
		<p>Dream Home Serviced Apartments have been developed to provide the highest standards of luxury accommodation.</p>
		<p>Our luxury serviced apartments in Aberdeen, Glasgow and London are available for short or long term stays, ideal
			 for business, leisure travel and corporate housing.</p>
		<p>Dream Home provide all the important facilities of your usual hotel as well as a few you may not expect!
			 Your very own spacious and luxurious apartment set in a choice
			 of traditional Victorian and Georgian townhouses or modern developments chosen
			  for their incredible design and convenient locations.</p>
			  <p>The wide and varied choice of accommodation in Scotland and England ranges from Luxury Hotels to B & B's.
			  	  Guesthouses to Self Catering… Isn’t it time you gave serviced apartments a try?</p>
		</div>
	