<% provide(:title , 'Book Online') %>
<h1>Book Online</h1>
<div class="row">
	<div class="span6 offset2 hero-unit">

<%= render 'form' %>

<% if signed_in? && current_user.employee? %>
<%= link_to 'Back', clients_path %>
<% end %>
</div>
</div>
