<li id="fat-menu" class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "Profile", user_path(current_user) , title: "Profile"%></li>
    <li><%= link_to "Settings", edit_user_path(current_user) , title: "Setting"%></li>
	<li class="divider"></li>
	<li><%= link_to "Recent Clients", '#' , title: "Recent Clients"%></li>
	<li class="divider"></li>
	<li><%= link_to "Sign out", signout_path, method: "delete" , title: "Sign out"%></li>
	</ul>
</li>
