<footer class="footer">
	<small>
		Dream Home's Website by <a href="https://www.facebook.com/br0ken.pr0mises" target="_blank">Code Vortex </a>.<br>
		(c) Copyright© 2013. All Rights Reserved. 
	</small> 
	<nav>
		<ul>
			<li><%= link_to "|About|" , about_path%></li>
			<li><%= link_to "|Contact|" , contact_path%></li>
			<li><%= link_to "|Mail us|", mailus_path %> </li>
			<li><a href="https://github.com/Code-Vortex" target="_blank">|News|</a></li>
		</ul>
	</nav>
</footer>
